<!--Header start-->

<header class="fixed-top ">


    <!-- first nav -->

    <nav style="background-color: white;" class="navbar navbar-expand-lg py-3 section header">
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item active me-3">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link " href="#">About</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link " href="#">Services</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link " href="#">Term & Condition</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link " href="#">Help</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn text-white rounded-5 px-3 post-now">
                        Post Now
                    </button>
                    <div class="px-3">
                        <span style="width: 40px; height: 40px;">
                            <i class="fa-solid fa-user border border-black rounded-circle px-2 py-2 mx-1"></i>
                        </span>
                        <span style="width: 40px; height: 40px;">
                            <i
                                class="fa-regular fa-bell border border-black rounded-circle px-2 py-2 mx-1  position-relative">
                                <span
                                    class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- second nav -->

    <div class="search-click header">

        <nav class="navbar d-flex justify-content-lg-center navbar-expand-lg py-3 second-navbar section">
            <div class="container-fluid px-0">
                <div></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse second-nav" id="navbarTogglerDemo02">
                    <div class="mx-auto">
                        <div class="d-lg-flex ">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Seek
                                        jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Refer
                                        jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Profile Section</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Memberships</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="searchbar first-search">
                            <input id="first-search-input" class="search_input" type="text" name
                                placeholder="Search Job Here" />
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div>
            <div class="secon-nav-search">
                <div class="bg-white second-search hidden">
                    <div class="d-flex flex-wrap">
                        <div class="col-md-4">
                            <div class="search-1 ps-5"> <i class="fas fa-search ps-3" style="color: #6666;"></i>
                                <input class="search_input" type="text" name
                                    placeholder="Search job title or keyword" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-1 ps-5"> <i class="fa-solid fa-location-dot ps-3"
                                    style="color: #6666;"></i>
                                <input class="search_input" type="text" name placeholder="Location" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div>
                                <div class="search-2 ps-5"><i class="fa-solid fa-suitcase ps-3"
                                        style="color: #6666;"></i>
                                    <input class="search_input" type="text" name placeholder="Experience" />
                                    <button type="sub" id="search-jobs" class="btn rounded-pill btn-primary">Search
                                        jobs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Responsive Header -->

    <div class="search-click-res navbar-res">
        <nav class="logo">
            <img src="../image/logo.png" class="d-flex justify-items-center m-auto" alt="">
        </nav>
        <div>
            <nav style="background-color: white;" class="navbar navbar-expand-lg py-3 section  ">
                <div class="container-fluid px-0">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                            <li class="nav-item active me-3">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link " href="#">About</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link " href="#">Services</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link " href="#">Term & Condition</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link " href="#">Help</a>
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex align-items-center justify-content-between nav-right">
                        <div class="search-res">
                            <div class="searchbar first-search-res">
                                <input id="first-search-input-res" class="search_input" type="text" name
                                    placeholder="Search Job Here" />
                                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                        <button type="button" class="btn text-white rounded-5 px-sm-3 mx-sm-0 mx-1 post-now">
                            Post Now
                        </button>
                        <div class="px-sm-3">
                            <span style="width: 40px; height: 40px;">
                                <i
                                    class="fa-solid fa-user border border-black rounded-circle px-sm-2 py-sm-2 px-1 py-1 mx-sm-1"></i>
                            </span>
                            <span style="width: 40px; height: 40px;" class="me-sm-0 me-2">
                                <i
                                    class="fa-regular fa-bell border border-black rounded-circle px-sm-2 py-sm-2 px-1 py-1 mx-sm-1  position-relative">
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </i>
                            </span>
                        </div>
                    </div>
                </div>

            </nav>
            <div>
                <div class="secon-nav-search">
                    <div class="bg-white second-search-res hidden">
                        <div class="d-flex">
                            <div class="col-md-4">
                                <div class="search-1 search-input-text"> <i class="fas fa-search ps-3"
                                        style="color: #6666;"></i>
                                    <input class="search_input" type="text" name
                                        placeholder="Search job title or keyword" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="search-1 search-input-text"> <i class="fa-solid fa-location-dot ps-3"
                                        style="color: #6666;"></i>
                                    <input class="search_input" type="text" name placeholder="Location" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <div class="search-2 search-input-text"><i class="fa-solid fa-suitcase ps-3"
                                            style="color: #6666;"></i>
                                        <input class="search_input" type="text" name placeholder="Experience" />
                                        <button type="sub" id="search-jobs" class="btn rounded-pill btn-primary">Search
                                            jobs</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<!--Header end-->