/* utility sections */

.utility-section{
    padding: 0 100px;
}

.aboutus-banner-main-container{
    /* background-image: url(../image/about-us-imgs/bg-1.png); */
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.aboutus-banner-main-container .inner-container .banner-logo-container{
    text-align: center;
}
.aboutus-banner-main-container .inner-container .banner-logo-container > .banner-logo{
    width: 50%;
}

.aboutus-banner-main-container .content-main-container .content{
    font-size: 1.1rem;
}

.aboutus-section-2-main-container{
    position: relative;
}

.aboutus-section-2-main-container #stringBeeImg{
    display: none;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
}
.aboutus-section-2-main-container .vision-main-container{
    display: grid;
    grid-template-columns: 70% ;
    grid-gap:10%
}
.aboutus-section-2-main-container .sub-section-main-container{
    /* margin-bottom: 50px; */
    position: relative;
    z-index: 2;
}

.aboutus-section-2-main-container .vision-main-container .vision-abs-img-right{
    position: absolute;
    right: 0;
    top:0;
    height: 25vw;
    display: none;
}

.aboutus-section-2-main-container .mission-main-container .mission-abs-img-right{
    position: absolute;
    right: 0%;
    bottom: -10%;
    height: 40vh;
    opacity: 1.8;
    z-index: -1;
}

.aboutus-section-2-main-container .mission-main-container {
    display: grid;
    grid-template-columns: 34% 55%;
    grid-gap: 5%;
}
.aboutus-section-2-main-container .sub-section-main-container .content-container .main-heading{
    color: var(--theme-color-blue);
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
}

.aboutus-section-2-main-container .sub-section-main-container .content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutus-section-2-main-container .sub-section-main-container .content-container .content{
    font-size: 1.3rem;
    color: var(--theme-color-gray);
}

.aboutus-section-2-main-container .sub-section-main-container .img-container .mission-img{
    width: 100%;
}

.aboutus-section-2-main-container .why-reyfer-main-container{
    display: grid;
    grid-template-columns:55% 40%;
    grid-gap: 5%;
}

/* .aboutus-section-2-main-container .why-reyfer-main-container .img-container{
    display: flex;
    justify-content: left;
    align-items: center;
} */

.aboutus-section-2-main-container .why-reyfer-main-container .img-container .doughnut-chart-container{
    border-radius: 50%;
    border: 15px solid #dc7d0981;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-section-2-main-container .why-reyfer-main-container .img-container .doughnut-value{
    color: var(--theme-color-blue);
    font-weight: 700;
    font-size: 70px;
}

.aboutus-section-2-main-container .why-reyfer-main-container .content-container{
    display: flex;
    align-items: start;
    justify-content: center;
}

.aboutus-section-2-main-container .why-reyfer-main-container .content-container .brain-img{
    width: 50%;
}

.aboutus-section-2-main-container .benifits-section-main-container{
    /* padding: 90px 0 0; */
    position: relative;
    background-image: url(../image/about-us-imgs/bg-shapes/1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus-section-2-main-container .benifits-section-main-container .abs-bee-img-left{
    position: absolute;
    left: 0;
    top:30%;
    height: 30vw;
}

.aboutus-section-2-main-container .benifits-section-main-container .title-container .title{
    color: var(--theme-color-blue);
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    padding: 10px 0;
}

.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .pole-top-circle{
    width: 30px;
    height: 30px;
    background: linear-gradient(to right,var(--theme-color-blue),var(--theme-color-orange));
    border-radius: 46% 52% 38% 40% / 49% 48% 50% 48% ;
}
.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole{
    min-height: 100vh;
    width: 5px;
    background: linear-gradient(to right,var(--theme-color-blue),var(--theme-color-orange));
    position: relative;
}

.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-left-flags-container {
    position: absolute;
    top:50px;
    left:100%;
    width: 500px;
}
.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container {
    position: absolute;
    top:50px;
    right:100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item{
    background: linear-gradient(to right,#dc7d09b3,#1752d0c2);
    width: fit-content;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 80px;
    padding: 0 50px;
    position: relative;
    
}
.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item{
    margin-bottom: 0;
    margin-top: 80px;
    background: linear-gradient(to right,#1752d0c2,#dc7d09b3);
}

.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .benifit{
    font-weight: 300;
    color: white;
    text-shadow: -2px 2px 0 rgb(107, 107, 107) ;
    font-size: 2rem;
}
.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .triangle-shape{
    width: 0;
  height:0;
  border-style: solid;
  border-width: 40px 0 40px 80px;
  border-color: transparent transparent transparent #1752d0c2;
  position: absolute;
  top: 0;
  left: 100%;
}

.aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item .triangle-shape{
    right: 100%;
    left: auto;
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 80px 40px 0;
  border-color: transparent #1752d0c2 transparent transparent;
}


@media screen and (max-width:1400px) {
    .utility-section{
        padding: 0 80px;
    }
}

@media screen and (max-width:1280px) {
    .utility-section{
        padding: 0 50px;
    }
    .aboutus-section-2-main-container .sub-section-main-container .content-container .main-heading{
        font-size: 3rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .title-container .title{
        font-size: 3rem;
    }

    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-left-flags-container, .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container {
        width: 300px;
    }
    
    .aboutus-section-2-main-container .sub-section-main-container{
        padding-top: 30px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item{
        padding:0 20px ;
    }
    .aboutus-section-2-main-container .mission-main-container .mission-abs-img-right{
        bottom: -35%;
        opacity: 0.6;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole{
        min-height: 80vh;
    }
}

@media screen and (max-width:767px) {
    .utility-section{
        padding: 0 40px;
    }
    .aboutus-section-2-main-container .sub-section-main-container .content-container .content{
        font-size: 1.1rem;
    }
    .aboutus-section-2-main-container .sub-section-main-container .content-container .main-heading{
        font-size: 2.5rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .title-container .title{
        font-size: 2.5rem;
    }
    .aboutus-section-2-main-container .vision-main-container{
        grid-template-columns: 100%;
    }
    .aboutus-section-2-main-container .mission-main-container{
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .aboutus-section-2-main-container .why-reyfer-main-container{
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .aboutus-section-2-main-container .sub-section-main-container .img-container{
        text-align: center;
    }
    .aboutus-section-2-main-container .sub-section-main-container .img-container .mission-img{
        width: 50%;
    }
    .aboutus-section-2-main-container .mission-main-container .mission-abs-img-right{
        bottom: 30%;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-left-flags-container, .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container {
        width: 250px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item{
        height: 50px;
        padding: 0 12px;
        margin-bottom: 50px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .benifit{
        font-size: 1.5rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .triangle-shape{
        border-width: 26px 0 25px 50px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item .triangle-shape{
        border-width: 26px 50px 25px 0;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item{
        margin-bottom: 0;
        margin-top: 50px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole{
        min-height: 60vh;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .abs-bee-img-left{
        top: 70%;
    }

}

@media screen and (max-width:544px) {
    .utility-section{
        padding: 0 20px;
    }
    .aboutus-section-2-main-container .sub-section-main-container .content-container .content{
        font-size: 1rem;
    }
    .aboutus-section-2-main-container .sub-section-main-container .content-container .main-heading{
        font-size: 2rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .title-container .title{
        font-size: 2rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-left-flags-container, .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container{
        width: 170px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item{
        height: 40px;
        padding: 0 5px;
        margin-bottom: 40px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .benifit{
        font-size: 1.2rem;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-flags-container .flag-item .triangle-shape{
        border-width: 20px 0 20px 40px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item .triangle-shape{
        border-width: 20px 40px 20px 0;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole .pole-right-flags-container .flag-item{
        margin-bottom: 0;
        margin-top: 40px;
    }
    .aboutus-section-2-main-container .benifits-section-main-container .pole-main-container .vertical-pole{
        min-height: 50vh;
    }

    .aboutus-section-2-main-container .mission-main-container .mission-abs-img-right{
        height: 25vh;
        bottom: 50%;
    }
}

@media screen and (max-width:375px) {

}

@media screen and (max-width:320px) {

}