body{
    background-color: white;
}
.home-search-form{
    position: absolute;
    width: 900px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: url(../image/icons/magnifying-glass.png);
    background-size: auto 40%;
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.home-search-form input{
    background-color: transparent;
    padding-left: 5px;
    border: 0;
    border-right: 1px solid rgb(73, 73, 73) ;
}
.home-search-form input:focus{
    outline: 0;
}

.banner-video{
    width: 80%;
    border-radius: 10px;
}

.about-us-section{
    background-image: url(../image/Home-page-imgs/vector.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 220px !important;
}

.features-carousel-container .carousel-item{
    margin: 0px 10px;
}

.home-subscribe-form{
    position: relative;
    transform: translate(-50%, 0);
    width: 600px;
    background: none;
    padding-left: 20px;
}

.page-main-section{
    padding-top: 80px;
}

.features-carousel-container .carousel-item{
    opacity: 0.5;
}
.features-carousel-container .carousel-item .hexagon{
    background-color: rgb(198, 198, 198);
}
.features-carousel-container .carousel-item .hexagon::before{
    border-bottom-color: rgb(198, 198, 198);
}
.features-carousel-container .carousel-item .hexagon::after{
    border-top-color: rgb(198, 198, 198);
}
.features-carousel-container .slick-current{
    opacity: 1;
}
.features-carousel-container .slick-current .hexagon{
    background-color: var(--theme-color-orange);
}
.features-carousel-container .slick-current .hexagon::before{
    border-bottom-color: var(--theme-color-orange);
}
.features-carousel-container .slick-current .hexagon::after{
    border-top-color: var(--theme-color-orange);
}

.features-icons{
    color: white;
    font-size: 64px;
}

.features-carousel-container .slick-btn{
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--theme-color-orange);
    color: white;
    font-weight: 800;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;
}
.features-carousel-container .prevBtn{
    left: 0;
}
.features-carousel-container .nextBtn{
    right: -50px;
}

/* ***************
  Absolute images
*************** */
.curve-line-1{
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -10%;
    z-index: 0;
}
.hexagon-3{
    position: absolute;
    left: -10%;
    bottom: -10%;
    width: 20%;
    z-index: -2;
}
.hexagon-1{
    position: absolute;
    transform: translate(-50%, 50%);
    height: 40%;
    left: 0;
    bottom: 5%;
}
.hexagon-2{
    position: absolute;
    transform: translate(+50%,0);
    top: 50%;
    right: 0;
    height: 50%;
}
@media screen and (max-width:1400px) {

    .banner-video{
        width: 85%;
    }
    .about-us-section{
        padding-bottom: 200px !important;
    }
}

@media screen and (max-width:1280px) {

    .home-search-form{
        width: 750px;
    }
    .banner-video{
        width: 90%;
    }
    .about-us-section{
        padding-bottom: 170px !important;
    }
}

@media screen and (max-width:767px) {
    .page-main-section{
        padding: 120px 0;
    }

    .home-search-form{
        width: 80vw;
        font-size: 0.7rem;
        padding-left: 40px;
    }
    .banner-video{
        width: 100%;
    }
    .about-us-section{
        padding-bottom: 120px !important;
    }
    .bee-img-1{
        width: 40% !important;
    }
    .home-content{
        width: 80% !important;
    }
    
    .hexagon-2{
        position: absolute;
        transform: translate(+50%,0);
        top: 50%;
        right: 0;
        height: 40%;
    }
}

@media screen and (max-width:544px) {
    .home-content{
        width: 90% !important;
    }
    .home-content{
        width: 100% !important;
        font-size: 0.9rem;
    }
    .about-us-section{
        padding-bottom: 50px !important;
    }
}

@media screen and (max-width:375px) {


}

@media screen and (max-width:320px) {


}

