/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


:root{
    --inter-font: 'Inter', sans-serif;
    --theme-color-orange: #DC7D09;
    --theme-color-blue:#1751D0;
    --theme-color-light-blue:#DEE9FF;
    --transprent-color:rgba(0,0,0,0);
    --text-color1:#363636;
    --theme-color-gray:#3d3d3d;
    --border-radius20:20px;
    --verify-green-color: green;
}

.profile-page-main-container{
    margin-top: 170px;
}

.profile-page-main-container .page-navigation-container{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.profile-page-main-container .page-navigation-container a{
    font-weight: 600;
    color: var(--theme-color-blue);
    font-size: 1rem;
}
.profile-page-main-container .page-navigation-container a:last-child{
    color: var(--theme-color-gray);
}

.profile-page-main-container .page-navigation-container > .right-arrow{
    color: var(--theme-color-blue);
    font-size: 0.7rem;
    margin: 0 10px;
}

.profile-section-main-container{
    padding: 20px;
    border-radius: var(--border-radius20);
    background-color: #DEE9FF;
    margin: 10px 0;
    position: relative;
}

.profile-section-main-container .user-profile-main-container{
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius20);
    background-color: white;
    padding: 20px 0 40px;
}

.profile-section-main-container .user-profile-main-container > .user-profile-left-container{
    width: 20%;
    padding: 10px;
}

.profile-section-main-container .user-profile-main-container > .user-profile-right-container{
    width: 80%;
    padding: 10px;
}

.profile-section-main-container .user-profile-main-container > .user-profile-left-container .user-profile-image-container{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.profile-section-main-container .user-profile-main-container > .user-profile-left-container .user-profile-image-container > img{
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

.profile-section-main-container .user-profile-main-container > .user-profile-left-container .user-profile-image-container > button{
    border-radius: 50%;
    background-color: var(--theme-color-orange);
    color: white;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 0;
    position: absolute;
    bottom: 0px;
    right: 20%;
}

.user-profile-left-container .user-details-1{
    border: 3px solid var(--theme-color-orange);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: auto;
}
    
.user-profile-left-container .user-details-1 .title{
    color: #000;
    font-size: 1.5rem;
    margin: 0;
}

.user-profile-left-container .user-details-1 .user-lang-container > .lang-list-container{
    padding: 14px 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: var(--theme-color-gray) 1px solid;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.user-profile-left-container .user-details-1 .user-lang-container > .lang-list-container > p{
    font-size: 1rem;
    color: var(--theme-color-gray);
    margin: 0;
}

.user-profile-left-container .user-details-1 .user-lang-container > .lang-list-container > .vertical-line{
    margin: 0 8px;  
    border-left: var(--theme-color-gray) 1px solid;
}

.user-profile-left-container .user-details-1 .link-url-container > .url-container{
    display: flex;
    flex-direction: column;
}

.user-profile-left-container .user-details-1 .link-url-container > .url-container a{
    margin: 7px 0;
    color: var(--theme-color-blue);
}

.user-profile-right-container .edit-profile-button{
    float: right;
    border: 0;
    color: var(--theme-color-blue);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 20px;
    background-color: white;
}

.user-profile-right-container .user-profile-main-details{
    padding-top: 30px;
}

.user-profile-main-details .user-name-container .title{
    font-weight: 600;
    font-size: 2rem;
}
.user-profile-main-details .user-name-container .title > span{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--verify-green-color);
    margin: 0 10px;
}

.user-profile-main-details .user-status-container {
    padding: 0 10px;
    border-left: 2px solid var(--theme-color-orange);
}

.user-profile-main-details .user-status-container .user-status{
    margin: 15px 0;
}

.user-profile-main-details .user-status-container .user-status p{
    margin: 0;
    font-size: 1.2rem;
}

.user-profile-main-details .user-status-container .user-contact{
    display: flex;
    justify-content: flex-start;
}

.user-profile-main-details .user-status-container .user-contact > .vertical-line{
    margin: 0 8px;  
    border-left: rgb(188, 188, 188) 3px solid;
}

.user-profile-main-details .user-status-container .user-contact i{
    font-size: 1.3rem;
}

.user-profile-right-container .user-profile-details-2{
    margin: 30px 0;
}


.user-profile-right-container .user-profile-details-2 .about-user-content{
    font-size: 1.3rem;
    font-weight: 400;
}

.user-profile-right-container .user-profile-details-3{
    display: flex;
    align-items: center;
    margin-bottom:30px;
}

.user-profile-right-container .user-profile-details-3 > div{
    display: flex;

}
.user-profile-right-container .user-profile-details-3 > div *{
    margin: 0;
    font-size: 1.2rem;
}

.user-profile-right-container .user-profile-details-3 > .vertical-line{
    margin: 0 40px;
    border-left: rgb(188, 188, 188) 3px solid;
    height: 30px;
}

.user-profile-right-container .user-profile-details-4 .title{
    font-weight: 600;
}

.user-profile-right-container .user-profile-details-4 .resume-container{
    display: flex;
}
.user-profile-right-container .user-profile-details-4 .resume-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-right-container .user-profile-details-4 .resume-container > div > a{
    font-size: 1.4rem;
    color: var(--theme-color-blue);
    font-weight: 500;
}
.user-profile-right-container .user-profile-details-4 .resume-container > div > p{
    margin: 0;
}
.user-profile-right-container .user-profile-details-4 .resume-container .vertical-line{
    margin: 0 40px;
    border-left: rgb(188, 188, 188) 3px solid;
}

.user-profile-inner-container{
    background-color: white;
    border-radius: var(--border-radius20);
    padding: 20px 0;
    margin: 20px 0;
}

.user-work-experience-main-container{
    padding-bottom: 0;
}

.user-profile-inner-container .title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.user-profile-inner-container .title-container > .title{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

.user-profile-inner-container .title-container > .add-more-button{
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--theme-color-blue);
}

.user-profile-inner-container .user-information-item-container{
    padding: 0 30px;
}

.user-work-experience-main-container .user-information-item-container{
    padding: 0;
}

.user-work-experience-main-container .user-information-item-container .view-all-items-button{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 0;
}
.user-profile-inner-container .user-information-item-container .view-all-items-button{
    width: 100%;
    background-color: white;
    border: 0;
    border-radius: 0;
}

.user-profile-inner-container .user-information-item-container > .user-information-item{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
}
.user-work-experience-main-container .user-information-item-container > .user-information-item{
    background-color: white;
    padding: 20px 30px ;
    box-shadow: 0 0 1px var(--theme-color-gray);
    position: relative;

}

.user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container{
    display: flex;
}

.user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container > .image-container{
    margin-right: 20px;
}

.user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container > .image-container > img{
    border-radius: 50%;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container > .information-container > .job-title-container span{
    font-weight: 400;
}
.user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container > .information-container p{
    font-size: 1.2rem;
}

.user-profile-inner-container .user-information-item-container > .user-information-item > .action-container > button{
    margin: 0 10px;
    background-color: white;
    border: 0;
    font-size: 1.2em;
}
.user-profile-inner-container .user-information-item-container > .user-information-item > .action-container{
    display: flex;
    align-items: baseline;
}
.user-profile-inner-container .user-information-item-container > .user-information-item > .action-container > .edit-item-button{
    color: var(--theme-color-blue);
}
.user-profile-inner-container .user-information-item-container > .user-information-item > .action-container > .delete-item-button{
    color: red;
}

.user-work-education-main-container .user-information-item-container > .user-information-item > .job-img-info-container > .information-container > .job-title-container > .title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.user-licenses-main-container .user-information-item-container > .user-information-item > .job-img-info-container > .image-container > img{
    border: none;
    border-radius: 0;
}

.user-profile-mails-container .user-mails-container{
    padding: 0 30px;
}

.user-profile-mails-container .user-mails-container > .mail-item{
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.user-profile-mails-container .user-mails-container > .mail-item .image-container img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: rgb(219, 219, 219);
    margin: 0 20px;
}

.user-profile-action-btns-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-profile-action-btns-container button{
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 30px;
    margin: 0 10px ;
}

.user-profile-action-btns-container .delete-act-btn{
    color: #fff;
    background-color: var(--theme-color-blue);
    border-color:2px solid var(--theme-color-blue);
}
.user-profile-action-btns-container .change-pwd-btn{
    color: var(--theme-color-orange);
    border:2px solid var(--theme-color-orange);
}

.popup-form-main-container{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-form-main-container .popup-form-inner-container{
    max-height: 90%;
    background-color: white;
    width: 70%;
    position: relative;
    border-radius: 10px;
}

.popup-form-main-container .popup-form-inner-container .close-popup-form-container-button{
    position: absolute;
    top:-15px;
    right:-15px;
    border-radius: 50%;
    background-color: var(--theme-color-blue);
    color: white;
    font-weight: 600;
    padding: 0px;
    font-size: 15px;
    height: 30px;
    width: 30px;
}

.popup-form-main-container .popup-form-inner-container .user-profile-form-container{
    width: 100%;
    display: none;
}

.user-profile-form-container .form-title-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}


.user-profile-form-container .form-title-container .add-more-items-btn{
    border-radius: 20px;
    font-weight: 500;
    color: var(--theme-color-blue);
    border: 2px solid var(--theme-color-blue);
}

.user-profile-form-container .form-body-container form .form-details-main-container{
    max-height: 50vh;
    overflow-y: scroll;
    padding: 10px 20px;
    background-image: linear-gradient(rgba(201, 201, 255, 0.614) ,white 8%);
}

.user-profile-form-container .form-body-container form .form-details-main-container::-webkit-scrollbar {
    width: 12px;
}

.user-profile-form-container .form-body-container form .form-details-main-container::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);  */
    background-color: rgb(240, 240, 240);
}

.user-profile-form-container .form-body-container form .form-details-main-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 90%;
    background-color: var(--theme-color-light-blue);
    border: 1px solid var(--theme-color-blue);
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1 .experience-form-item{
    display: flex;
    flex-direction: column;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1 .experience-form-item label{
    font-size: 15px;
    font-weight: 500;
}
.user-profile-form-container .form-body-container form label > span{
    color: red;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1 .experience-form-item input, .user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1 .experience-form-item select{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-2{
    margin: 5px 0;
}
.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-3 {
    margin: 10px 0;
}
.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-3 .experience-form-item {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-3 .experience-form-item > .experience-form-inner-item{
    display: flex;
    flex-direction: column;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-4 .experience-form-item{
    display: flex;
    flex-direction: column;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-4 .experience-form-item label{
    font-size: 15px;
    font-weight: 500;
}

.user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-4 .experience-form-item textarea{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
}

.user-profile-form-container .form-body-container form .submit-button-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: var(--theme-color-light-blue);
    border-radius: 0 0 10px 10px;
}
.user-profile-form-container .form-body-container form .submit-button-container button{
    background-color: var(--transprent-color);
    padding: 3px 20px;
    margin-left: 10px;
    border-radius: 15px;
    font-weight: 500;
}

.user-profile-form-container .form-body-container form .submit-button-container .submit-btn{
    color:white;
    background-color: var(--theme-color-blue);
    border-color: var(--theme-color-blue);
}
.user-profile-form-container .form-body-container form .submit-button-container .reset-btn{
    color:var(--theme-color-orange);
    border-color: var(--theme-color-orange);
}

#addEducationForm .form-body-container form .form-details-main-container .experience-form-details-3 .experience-form-item:nth-child(2){
    grid-template-columns: 100%;
}

#addLicensesForm .form-body-container form .form-details-main-container .experience-form-details-1:nth-child(2){
    grid-template-columns: 100%;
}

/* tablet and mobile media quaries */

@media screen and (max-width:800px) {
    .profile-section-main-container .user-profile-main-container{
        flex-direction: column;
        padding: 0;
    }
    .profile-section-main-container .user-profile-main-container > .user-profile-left-container{
        width: 100%;
        display: flex;
    }
    .profile-section-main-container .user-profile-main-container > .user-profile-left-container .user-profile-image-container{
        width: 40%;
        margin: 0;
        height: max-content;
    }
    .profile-section-main-container .user-profile-main-container > .user-profile-right-container{
        width: 100%;
        margin: 20px 0;
    }
    .user-profile-right-container .user-profile-main-details{
        padding: 0;
    }
    .profile-page-main-container{
        margin-bottom: 100px;
    }

    .popup-form-main-container{
        bottom: 40px;
    }
    .popup-form-main-container .popup-form-inner-container{
        width: 85%;
    }
    .user-profile-form-container .form-body-container form .form-details-main-container{
        max-height: 42vh;
    }
}

@media screen and (max-width:500px) {
    .profile-page-main-container{
        margin-top: 150px;
    }
    .profile-section-main-container .user-profile-main-container > .user-profile-left-container .user-profile-image-container > button{
        width: 30px;
        height: 30px;
        padding: 0;
    }
    .user-profile-main-details .user-status-container .user-contact{
        flex-direction: column;
    }
    .profile-section-main-container{
        padding: 10px;
    }
    .user-profile-right-container .user-profile-details-3{
        flex-direction: column;
        align-items: baseline;
    }
    .user-profile-right-container .user-profile-details-3 > .vertical-line{
        display: none;
    }
    .user-profile-right-container .user-profile-details-4 .resume-container{
        flex-direction: column;
        align-items: baseline;
    }
    .user-profile-right-container .user-profile-details-2 .about-user-content{
        font-size: 1rem;
    }

    .user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container{
        display: block;
    }

    .user-profile-inner-container .user-information-item-container > .user-information-item{
        display: block;
        padding: 15px;
    }
    .user-profile-inner-container .user-information-item-container > .user-information-item > .action-container{
        position: absolute;
        right: 0;
        top: 10px;
    }
    .user-profile-inner-container .user-information-item-container > .user-information-item > .job-img-info-container > .image-container > img {
        border-radius: 50%;
        border: 2px solid black;
        width: 70px;
        height: 70px;
    }
    .user-profile-inner-container .title-container,.user-profile-inner-container .user-information-item-container{
        padding: 0 15px;
    }
    .user-work-education-main-container .user-information-item-container > .user-information-item > .job-img-info-container > .information-container > .job-title-container > .title{
        font-size: 1.3rem;
    }
    .user-work-education-main-container .user-information-item-container > .user-information-item .job-img-info-container{
        width: 90%;
    }
    .user-licenses-main-container .user-information-item-container > .user-information-item > .job-img-info-container > .image-container > img{
        border: none;
    }
    .user-profile-action-btns-container button{
        font-size: 1rem;
    }
    .user-profile-mails-container .user-mails-container {
        padding: 0 10px;
    }

    .popup-form-main-container .popup-form-inner-container{
        width: 95%;
    }
    .user-profile-form-container .form-body-container form .form-details-main-container .experience-form-details-1{
        grid-template-columns: 100%;
    }
}