.verify-form-content {
  padding: 100px 0 40px 0;
}

.verify-form-title {
  text-align: center;
  color: #000;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

.verify-form-title-p {
  text-align: center;
  font-weight: 500;
}

.required {
  color: #fd3e3e;
}

.verify-form {
  display: flex;
  justify-content: center;
  padding-bottom: 13%;
}

.verify-form-input {
  width: 400px;
  border: 1px solid;
  border-radius: 51px;
  outline: none;
  padding: 15px 20px;
  position: relative;
}
.angle-right-icon {
  font-size: 17px;
}

.verify-btn {
  display: block;
  text-align: center;
  border: 0;
  font-size: 22px;
  background-color: #1751d0;
  border-radius: 51px;
  padding: 10px 20px;
  color: white;
}

.verify-label {
  color: #0b0e10;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.login-text span:nth-child(1) a {
  color: #dc7d09;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  margin-right: 3px;
}

.login-text span:nth-child(2) a {
  color: #1751d0;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  margin-right: 10px;
}
.b-home {
  font-weight: 500;
}
.bread-crumbs-2 {
  font-weight: 500;
}
.password {
  translate: -39px 0px;
}
